
*{
  margin: 0;
  padding: 0;
}

h1 {
  font-family: arial;
  font-size: 50px;
  text-align:left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}
#nav {
  background-color: black;
  color: blue;
  position: absolute;
  font-family: arial, sans-serif;
  font-size: 20px;
  text-align: right;
  height: 50px;
  width: 100%;
  list-style-type: none;
}
li {
  display: inline-block;
}

.div_top{
  background-color: yellow;
  height: 500px;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.aboutme {
  text-align: left;
  font-size: 20px;
  font-family:arial;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 300px;
  width: 100%;
  background-color: gray;
}
.brandstatement {
  font-size: 20px;
  font-family:arial;
  text-align: left;
}

.development {
  text-align: left;
  font-size: 20px;
  font-family:arial;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 300px;
  width: 100%;
  background-color: yellow;
}

.projects {
  text-align: left;
  font-size: 20px;
  font-family:arial;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 300px;
  width: 100%;
  background-color: gray;

}


.contact{
  background-color: yellow;
  text-align: left;
  font-size: 20px;
  font-family: arial;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 300px;
  width: 100%;
}
