
*{
  margin: 0;
  padding: 0;
}

h1 {
  font-family: arial;
  font-size: 50px;
  text-align:left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}
#nav {
  background-color: black;
  color: blue;
  position: fixed;
  font-family: arial, sans-serif;
  font-size: 20px;
  text-align: right;
  height: 50px;
  width: 100%;
  list-style-type: none;
  opacity: 0.6;
}
li {
  display: inline-block;
}

.div_top{
  /*background-image: url("http://i.imgur.com/BvuFLI2.jpg");*/
  background-image: url("http://i.imgur.com/ZcRJz0r.jpg"), url("http://i.imgur.com/9hrsyMJ.jpg");
  /*background-attachment: fixed;*/
  height: 1125px;
  width: 100%;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: orange;
  text-shadow: 20px;
}


.aboutme {
  text-align: left;
  font-size: 20px;
  font-family:arial;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 300px;
  width: 100%;
  color: white;
  background-color: black;
  background-attachment: fixed;
  /*opacity: .8;*/
}
.brandstatement {
  font-size: 20px;
  font-family:arial;
  text-align: left;
}

.bio{
  margin-left: 22%;
  margin-right: 20%;
}
.development {
  background-image: url("http://i.imgur.com/dN6MX3b.jpg");
  background-attachment: fixed;
  text-align: left;
  font-size: 20px;
  font-family:arial;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.projects {
  text-align: left;
  font-size: 20px;
  font-family:arial;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 300px;
  width: 100%;
  background-color: black;
  color: white;
}
.picasso {
  margin-left: 22%;
  margin-right: 20%;
}

.contact{
  background-color: gray;
  text-align: left;
  font-size: 20px;
  font-family: arial;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 300px;
  width: 100%;
  opacity: .5;
}
