.row, .column {
	box-sizing: border-box;
}

.row {
/*	border: 2px solid rebeccapurple;*/

}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.column {
	float: left;
/*	border: 2px solid black;
	border-radius: 20px;*/
	text-align: center;
	position: relative;
	background: #AAAA7FFF;
	
}

.column .column {
  /*border: 2px solid #AAAA7FFF;*/
}

.header > .column {
	height: 150px;
}
.footer > .column {
	padding: 25px;
}

.middle > .column {
	height: 400px;
	line-height: 400px;
}

.module {
	margin: 0 2% 0 2%;
}

.header ul {
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header li {
	display: inline-block;
	list-style-type: none;
}

#imgme {
	height: 104px;
	width: 140px;
}

#imgme img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
}

#resume {
	margin: auto;
	display: block;
	max-height: 100%;
	text-align: left;
	text
}

body {
	text-align: justify;
	background: #AAAA7F;
}

li {
	margin-left: 20px;
	margin-right: 20px;
}
/*	header {
		text-align: center;
		background: url("http://i.imgur.com/jc5PgX4.jpg");
		background-position: center;
		background-size: cover;
		color: white;
		overflow: auto;
	}
	nav {
		text-align: left;
		color: white;

	}
	h1 {
		font-size: 40px;
		color: white;
	}
	img {
		margin: 10px 10px 00px 00px;
		border: 5px solid black;
		border-radius: 20px;
		float: left;
	}
	div.images1 {
		display:inline-block;
		margin: 10px;
	}
	div.images2 {
		float: right;
		margin: 0px 0px 20px 20px;
	}
	div.images0 {
		text-align: left;
	}
	article {
		max-width: 800px;
		padding: 25px;
		margin: 0 auto;
		background-color: gray;
	}
	p {
		margin-bottom:40px;
	}
	a.button {
		-webkit-appearance: button;
		-moz-appearance: button;
		appearance: button;
		margin-top: 30px;
	}
	@media (max-width:500px) {
		h1 {
			font-size: 35px;
			color: white;
		}
		h2 {
			font-size:30px;
			text-align: justify;
		}
		div.images1 {
			display:block;
		}
	}
	h2 {
		text-align: left;
		color: rgba(0,0,255,.5);
		font-size: 30px;
	}
	body {
		text-align: justify;
		background: #232323;
	}*/


.column-1 { width: 8.33%; }
.column-2 { width: 16.66%; }
.column-3 { width: 25%; }
.column-4 { width: 33.33%; }
.column-5 { width: 41.66%; }
.column-6 { width: 50%; }
.column-7 { width: 58.33%; }
.column-8 { width: 66.66%; }
.column-9 { width: 75%; }
.column-10 { width: 83.33%; }
.column-11 { width: 91.66%; }
.column-12 { width: 100%; }